[Unit]
Description=Apply Armada state fixups
After=local-fs.target
RequiresMountsFor=/var/home/armada
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/armada/armada-fixups
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
